<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1050987843857-a49dnt6u2ptlrajq7bpnaa60k0igkt0o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1050987843857-a49dnt6u2ptlrajq7bpnaa60k0igkt0o</string>
	<key>API_KEY</key>
	<string>AIzaSyD4VXXqldfzeddTjEt0lxonRtmclHpRwWY</string>
	<key>GCM_SENDER_ID</key>
	<string>1050987843857</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterChatgpt4Fullstack</string>
	<key>PROJECT_ID</key>
	<string>chatgpt4-4aecc</string>
	<key>STORAGE_BUCKET</key>
	<string>chatgpt4-4aecc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1050987843857:ios:4d29445b0e86e7f1127cb0</string>
</dict>
</plist>